@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="get" asp-controller="Home" asp-action="Login">
    <h6>Nhập username</h6>
    <input name="username" type="text" placeholder="Username...">
    <h6>Nhập password</h6>
    <input name="password" type="text" placeholder="Password...">
    <button type="submit">Đăng nhập</button>
</form>